@import 'tailwindcss';

body {
  font-family: 'Open Sans', sans-serif;
}

@theme {
  /* colors */
  --primary-orange: #ff724c;
  --primary-orange-hover: #eb6946;
  --primary-orange-disabled: #ff9d83;
  --primary-white: #ffffff;
  --primary-white-hover: #f2f2f3;
  --primary-yellow: #fdbf50;
  --primary-yellow-hover: #e8b14a;
  --primary-yellow-disabled-light: #fbd794;
  --primary-yellow-disabled-dark: #fcc050b2;
  --primary-red: #ea4344;
  --primary-gray: #999999;
  --secondary-gray: #c0c0c0;
  --primary-light-gray: #adafb1;
  --secondary-light-gray: #808080;
  --primary-dark-gray: #3f463e;
  --medium-gray: #d9d9d9;
  --dark-gray: #4d4d4d;
  --smoke-gray: #f8f9fd;
  --light-gray: #a3a5a8;
  --arrow-gray: #8e8c8e;
  --color-text: #353a40;
  --color-text-dark: #727272;
  --color-text-gray: #5a5b5c;
  --primary-white-bg: #fafafa;
  --primary-white-bg-hover: #e9eaee;
  --secondary-white-bg: #f5f7f9;
  --primary-black-bg: #1f1f1f;
  --secondary-black-bg: #292929;
  --secondary-black-bg-hover: #363636;
  --third-black-bg: #3d3d3d;
  --primary-gray-icon: #a6a6a6;
  --dark-gray-icon: #484c52;
  --primary-white-icon: #e2e2e2;
  --primary-gray-text: #8e8e93;
  --primary-gray-button: #ebebeb;
  --secondary-button-light: #f6f6f6;
  --light-input-bg: #f7f8f9;
  --light-input-border: #e8ecf4;
  --primary-input-gray: #8391a1;
  --dark-input-border: #383b3e;
  --color-text-gray-secondary: #9e9e9e;
  --color-text-light-gray-hover: #606060;

  /* radius */
  --radius-2xl: 20px;
  --radius-3xl: 25px;
  --radius-4xl: 30px;
}
